body {
    background: #FFFFE3;
    color: #253A52;
    padding: 25px;
    font-family: sans-serif;
  }
  
  h1{
    font-size: 50px;
  }
  
  h2{
    font-size: 3rem;
  }
  
  .profile-image{
    width:320px;
    height:400px;
    margin-inline-end: 4rem;
  }
  
  .bio{
    display: flex;
  }
  
  .See-my-work{
    text-decoration: none;
    color: #FFFFE3;
    background: #1348DA;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
  }